.pokemon-list-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
select {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.list-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  height: 40px;
  background-color: white;
  border: none;
  color: #214A22;
  cursor: pointer;
  margin: 50px;
}

.list-btn:hover {
  background-color: #f0f0f0;
  border: #214A22;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
  max-width: 1200px; /* Set a max width for the list */
  margin: 0 auto; /* Center align with auto margins */
  list-style-type: none;
  justify-items: center;
}

@media (max-width: 1200px) {
  .pokemon-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1000px; /* Adjust the max width */
  }
}

@media (max-width: 768px) {
  .pokemon-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 600px; /* Adjust max width for smaller screens */
  }
}

@media (max-width: 480px) {
  .pokemon-list {
    grid-template-columns: repeat(1, 1fr); 
    max-width: 100%;
    gap: 10px; 
  }
}
