@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.pokemon-detail-container {
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin: 10px 40px;
  border-radius: 15px;
  gap: 20px;

}

.pokemon-left-info {
  border-radius: 15px;
  padding: 20px;
  width: 35%;
}
.pokemon-right-info{
  border-radius: 15px;
  padding: 20px;
  width: 45%;
}

.pokemon-left-info {
  text-align: center;
}

.pokemon-right-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.abt {
  font-family: "VT323", monospace; 
  font-size: 20px;
  background-color: rgb(222, 220, 220);
  padding: 15px;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 25px;
  
}



.pokemon-left-info h1, .pokemon-right-info h3 {
  font-family: 'Press Start 2P', cursive;
  color: #333;
  text-transform: capitalize;
}

.pokemon-left-info img {
  width: 200px;
  height: 200px;
  margin: 20px 0;
}

.pokemon-abilities p {
  background-color: rgb(222, 220, 220);
  padding: 20px;
  border-radius: 5px;
  font-family: "VT323", monospace;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1.6;
  word-spacing: 3px;
  margin-top: 5px;
  color: #000000;
}

.pokemon-ability {
  display: inline-block;
  margin-right: 10px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.pokemon-type {
  display: inline-block;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: #fff;
  text-transform: capitalize;
}

.pokemon-type-normal { background-color: #a8a878; }
.pokemon-type-fire { background-color: #f08030; }
.pokemon-type-water { background-color: #6890f0; }
.pokemon-type-electric { background-color: #f8d030; }
.pokemon-type-grass { background-color: #78c850; }
.pokemon-type-ice { background-color: #98d8d8; }
.pokemon-type-fighting { background-color: #c03028; }
.pokemon-type-poison { background-color: #a040a0; }
.pokemon-type-ground { background-color: #e0c068; }
.pokemon-type-flying { background-color: #a890f0; }
.pokemon-type-psychic { background-color: #f85888; }
.pokemon-type-bug { background-color: #a8b820; }
.pokemon-type-rock { background-color: #b8a038; }
.pokemon-type-ghost { background-color: #705898; }
.pokemon-type-dragon { background-color: #7038f8; }
.pokemon-type-dark { background-color: #705848; }
.pokemon-type-steel { background-color: #b8b8d0; }
.pokemon-type-fairy { background-color: #ee99ac; }

.evolution-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.evolution-item {
  display: flex;
  align-items: center;
}

.evolution-image {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.evolution-name {
  font-size: 20px;
  font-family: "VT323", monospace;
  margin: 10px ;
   text-transform: capitalize;
}

.evolution-arrow {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 10px;
}

