
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    min-height: 100vh;
  }
  
  .profile-card {
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.65rem;
    text-align: center;
    width: 350px;
    margin-bottom: 20px;
  }
  
  .edit-button {
    background-color: #303d34;
    color: #ffffff;
    border: none;
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #494a4a;
  }
  
  
