/* Signup.css */

.signup {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  .signup h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .signup label {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .ipt {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .signup button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #303d34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup button:hover {
    background-color: #494a4a;
  }
  
  .signup button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  