@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbar {
  padding: 10px 20px;
}



.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.navbar-title {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links,
nav {
  display: flex;
  gap: 35px;
  align-items: center;
}

.navbar-link {
  color: #333;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #007bff;
}

.nav-button {
  background-color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', cursive;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: rgba(235, 234, 234, 0.8);
  color: black;
}

.fav-icon,
.profile-icon {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fav-icon:hover,
.profile-icon:hover {
  transform: scale(1.1);
}
